# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# vim
*.swp
*~

# patch
*.rej
*.orig

config.h

# 9base stuff
9base/awk/y.tab.c
9base/awk/y.tab.h
9base/bc/y.tab.c
9base/bc/y.tab.h
9base/grep/y.tab.c
9base/grep/y.tab.h
9base/hoc/y.tab.c
9base/hoc/y.tab.h
9base/rc/x.tab.h
9base/rc/y.tab.c
9base/rc/y.tab.h

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
dmenu/dmenu
dwm/dwm
farbfeld/farbfeld
sent/sent
slock/slock
slstatus/slstatus
st/st
surf/surf
tabbed/tabbed
9base/ascii/ascii
9base/awk/awk
9base/basename/basename
9base/bc/bc
9base/cal/cal
9base/cat/cat
9base/cleanname/cleanname
9base/cmp/cmp
9base/date/date
9base/dc/dc
9base/dd/dd
9base/diff/diff
9base/du/du
9base/echo/echo
9base/ed/ed
9base/factor/factor
9base/fmt/fmt
9base/fortune/fortune
9base/freq/freq
9base/getflags/getflags
9base/grep/grep
9base/hoc/hoc
9base/join/join
9base/lib9/lib9
9base/listen1/listen1
9base/look/look
9base/ls/ls
9base/md5sum/md5sum
9base/mk/mk
9base/mkdir/mkdir
9base/mtime/mtime
9base/pbd/pbd
9base/primes/primes
9base/rc/rc
9base/read/read
9base/rm/rm
9base/sam/sam
9base/sed/sed
9base/seq/seq
9base/sha1sum/sha1sum
9base/sleep/sleep
9base/sort/sort
9base/split/split
9base/ssam/ssam
9base/strings/strings
9base/tail/tail
9base/tee/tee
9base/test/test
9base/touch/touch
9base/tr/tr
9base/troff/troff
9base/unicode/unicode
9base/uniq/uniq
9base/unutf/unutf
9base/urlencode/urlencode
9base/wc/wc
9base/yacc/yacc
tabbed/xembed
dmenu/stest
